<nav class="navbar navbar-expand-lg fixed-navbar navbar-light" >
        
  <div class="container-fluid d-flex justify-content-end"> 
    
    <div class="Nav-container-fluid" >
      <a class="navbar-brand" href="#"> 
        <img src="logo2m.PNG" alt="Logo" class="logo-img" >
      </a>
      <button class="navbar-toggler" 
      type="button"
       data-bs-toggle="collapse" 
       data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
         aria-expanded="false"
          aria-label="Toggle navigation" 
          id="navbarToggleExternalContent"> 
       

        <span class="navbar-toggler-icon "></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav " >
         
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">HOME</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              SERVICES
            </a>
            <ul class="dropdown-menu" >
              <li><a class="dropdown-item mb-2" href="/AirConditioning">Air Conditioning</a></li>
              <li><a class="dropdown-item mb-2" href="/Plumbing">Plumbing</a></li>
              <li><a class="dropdown-item mb-2" href="/Electrical">Electrical</a></li>
              <li><a class="dropdown-item mb-2" href="/Heating">Heating</a></li>
              <li><a class="dropdown-item" href="/Generalmaintenance">General Maintenance</a></li>

            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/new">CONTACT US</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/About">ABOUT US</a>
          </li>

          

         

           </ul>

      </div>
    </div>
   </div> 
  
  </nav>
