
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">


    
    
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
     integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> 
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MundyoBlog</title>
</head>
<body>
  <style>
    body{
      background-color: black;
    }
   
 
 
  </style>

  <%- include('nav') %>
  <div class="containers justify-content-center ">

    <div class="new pt-3">
    
      <div class="d-flex justify-content-center align-items-center">
        <h1>Request Form</h1>
      </div>
  
        <div class="col-md-12">
          <form action="/new" method="post">
         

            <div class="containernew mt-5 pb-5 pt-5" style="background-color: black; color:aliceblue; border: 5px;">
              <div class="row pb-5" >
            
            
                  <div class="col-md-12" >
                      <form class="custom-form justify-content-center" style="width: 100vw" method="post" action="/new">
            
                        <div class="col-md-10 col-sm-10">
            
                          <div class="container pb-5 justify-content-center " >
            
            
                             <div class="row  formnew " >
                              <div class="d-flex justify-content-center align-items-center">
                                <img src="logo2m.PNG" alt="Logo" class="logo-img"  >
                              </div>
                              </div>
                             
                           
                              
                            
                           
                          </div>
                          
                          <label class="visually-hidden" for="autoSizingSelect">Preference</label>
                          <select class="form-select new" id="autoSizingSelect" name="title">
                            <option selected> What type of service</option>
                            <option value="HVAC">HVAC</option>
                            <option value="PLUMBING">PLUMBING</option>
                            <option value="ELECTRICAL">ELECTRICAL</option>
                            <option value="GENERAL MAINTENANCE">General Maintenance</option>
                          </select>
                          <div class="mb-3">
            
                            
                          </div>
                              <label for="firstName" class="form-label" style="border-radius: 0; "></label>
                              <input required name="name" type="text" class="form-control new input-field" id="name" placeholder="Enter your full name">
                          </div>
                         
                          <div class="mb-3">
                            <label for="address" class="form-label"></label>
                            <input required name="address" type="text" class="form-control new input-fiel" id="address" placeholder="Enter your address">
                          </div>
            
                          <div class="mb-3">
                              <label for="phoneNumber" class="form-label"></label>
                              <input required name="phone" type="tel" class="form-control new input-field" id="phone" placeholder="Enter your phone number">
                          </div>
                          <div class="mb-3">
                              <label for="email" class="form-label"></label>
                              <input required name="email" type="email" class="form-control new input-field" id="email" placeholder="Enter your email">
                          </div>
                          
                          </div>
                          <div class="mb-3">
                              <label for="message" class="form-label"></label>
                              <textarea name="description" class="form-control new input-field" id="description" rows="4" placeholder="Enter your request" <%= article.description%>
                                ></textarea>
                          </div>
                         
                          
            
                          <div class="row text-center pb-3 ">
                              <div class="col-md-3 col-sm-2"></div>
                              <div class="col-md-6 col-sm-8">
                                <button type="submit" class="btn btn-success" style="background-color: green;">Submit</button>
                              </div>
                              <div class="col-md-3 col-sm-2"></div>
                          </div>
            
                          <div class="row text-center">
            
                            <div class="col-md-3 col-sm-2"></div>
                            <div class="col-md-6 col-sm-8">
                              <a href="/" class="btn btn-secondary w50">Cancel</a>
                            </div>
                            <div class="col-md-3 col-sm-2"></div>
              
            
                          </div>
                         
                        </div>
                         
                          
                      </form>
                  </div>
              </div>
            </div>
            
            
            
          </form>
          
        </div>
      
    </div>


  </div>
  
   
  <%- include('us') %>
  <%- include('footer') %>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-KyZXEAg3QhqLMpG8r+hxJgTV6I9p5l5ZO1uIf5Hs5STfEzkDHC1e3R4xq5cuP5RvB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>

</body>
</html>
 