  
      <div class="container "> 
        <div class="row justify-content-center ">
          <div class="col-md-6 ">
            <a href="/new">
              <button class="button" style="background-color: rgba(128, 255, 0, 0.644); border-radius: 20px; font-family:cursive; font-weight: bold; width: 50%; height: 7vh;"> ✓ SCHEDULE SERVICE TODAY!</button>
            </a>
           
          </div>
        </div>
        
      </div>
       
      
      
      <div class="container justify-content-center" style="color:aliceblue" >
        <div class="row  justify-content-center">
          <div class="CUSTOMER pt-5 pb-4" style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
            <h1> CUSTOMER REVIEW </h1>
          </div>

          <hr>
          


           <div class="col-md-3" >
            <div class="card" style="width: 15rem; background-color: transparent;">
              <img src="Chelsea.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">CHELSEA</h5>
                <p class="card-text">I'm thankful everyday that my family & I was referred to Mundyo Mastercraft Services. Every other technician told me I would need a new furnace and boiler but they fixed it. Thank you again.</p>
                
              </div>
            </div>
           </div>


           <div class="col-md-3">
            <div class="card" style="width: 15rem;  background-color: transparent;">
              <img src="Jon.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">JON</h5>
                <p class="card-text"> Great service. the technician anticipated potential issues and helped me resolve them.  <br>Nice job!</p>
               
              </div>
            </div>
           </div>


           <div class="col-md-3">
            <div class="card" style="width: 15rem;  background-color: transparent;">
              <img src="Kingsley.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">KINGSLEY</h5>
                <p class="card-text">'I have never been disappointed with the service, and what I appreciate the most is the quick response. Thanks guys!'</p>
               
              </div>
            </div>
           </div>

           <div class="col-md-3">
            <div class="card" style="width: 15rem;  background-color: transparent;">
              <img src="Herman.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">HERMAN</h5>
                <p class="card-text">'Good communication. I was involved every step of the way. Kept the place spotless like nothing ever happened'</p>
                
              </div>
            </div>
           </div>

        </div>
      </div>
        
    </div>
    
      