   
      <div class="row pt-5 pb-5" style="color: aliceblue; text-align: left;">
        <div class="col-12">
           <div class="container fluid text-center">
            <p>
              <h1>
                 WHAT MAKES US UNIQUE?
              </h1>
            </p>
           </div>
        </div>

        <div class="col-md-6 fluid">
          
            <h2>
              Transparent Pricing 
              </h2>
              <p style="font-size: large;">
                Providing clear and transparent pricing structures helps build 
                trust with customers.
                 Hidden fees or unexpected charges can lead to dissatisfaction.
                 Before starting any maintenance work, provide customers with
                  detailed estimates. These estimates should include a breakdown 
                  of costs, so customers can see exactly what they are paying for,
                   including labor, parts, and any other expenses.
              </p>
              
          
        </div>
        <div class="col-md-6" style="color:black">.</div>
        <div class="col-md-6" style="color:black">.</div>
        
        <div class="col-md-6 fluid" >
          <h2>
            Rapid Response Times
             
          </h2>
          <p style="font-size: large;">
            Being available when customers need assistance is crucial, 
            especially for emergency maintenance services. A quick response
             time can be a significant selling point.
             When customers contact the maintenance company, whether through 
             phone, email, or an online portal, they should receive an immediate
            acknowledgment of their inquiry. Even if a full response or service 
            cannot be provided right away, acknowledging the request shows attentiveness.
          </p>
        </div>
        
        <div class="col-md-6 fluid">
          <h2>
            Exceptional Customer Service 
          </h2>
          <p style="font-size: large;">
            Providing excellent customer service
            is key to standing out. Prompt responses, friendly and knowledgeable 
            staff, and a willingness to go the extra mile to meet customer needs
             can make a significant difference.
          </p>
        </div>
        <div class="col-md-6" style="color:black">.</div>
        <div class="col-md-6" style="color:black">.</div>
        <div class="col-md-6 fluid ">
          <h2>
            Positive Reviews and Testimonials
             
          </h2>
          <p style="font-size: large;">
            Encouraging satisfied customers to leave reviews and testimonials 
             can build trust and credibility for the maintenance company.
              Remember that what makes a maintenance company unique can vary 
              depending on the specific industry and market it serves. It's essential 
              to understand your target audience and their needs to tailor your unique 
              selling points accordingly.
          </p>
        </div>
       
      </div>
     