

body{
  background-color: black;
}

.form-group {
  margin: 10px 0;
  color: #2c3e50;
}

label {
  display:flex;
}

input[type="text"],
textarea {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 0 10px;
  border-radius: 10px;
  border: 1px solid #ccc;

}

.btn {
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 20px;
  cursor: pointer;
}

.btn-primary {
  background-color: green;
  color: #fff;
  border: none;
  text-decoration: none;
}

.btn-secondary {
  background-color: red;
  color: #fff;
  border: none;
  text-decoration: none;
} 
.new h1{
  font-size: 50px;
}

body{
  background-color: black; 
}

 .navbar a.nav-link,
.navbar button.navbar-toggler {
background-color: transparent;
border: none;
color: aliceblue;
}



.navbar button.navbar-toggler span.navbar-toggler-icon {
background-color: aliceblue;
}


.fixed-navbar {
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 background-color: rgb(120, 103, 42);
 z-index: 1000;
} 
.text {
 color: rgb(120, 103, 42);
 font-size: 60px;
 font-weight: bold;
 font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 background-color: transparent; 
 padding: 100px; 
}


.custom-form {
 background-color: rgb(120, 103, 42);
 border-radius: 10px;
 padding: 20px;
 width:25em ;
}
.custom-btn {
 background-color: rgba(133, 4, 4, 0.669);
 color: white;
}

.navbar-nav .nav-item .dropdown-menu .dropdown-item {
padding: 0.25rem 1rem; 
margin: 0.1rem 0;
margin-bottom: 0.5rem;
}
.card {
  width: 35rem;
  height: 15rem;
  background:transparent !important;
}
.card.review {
  height: 40rem;
}

/* .mb-3.form-select.form {
  margin-left: 8.5rem !important;
  width: 50rem !important;
 }
 .mb-3.form.input[type="text"], textarea {
  /* width: calc(100% - 20px); 
  width: 50rem !important;
  padding: 10px;
  margin-left: 8.5rem !important;
  border-radius: 1px;
  border: 1px solid #ccc;
  
}
.mb-3.form.form-control.form.input-field {
  width: 50rem !important;
  margin-left:8.5rem;
}
#address.form-control.form.input-field {
  width:30rem;
}
.formcard {
  margin-left:1rem !important;
 } */


@media (max-width: 768px) {
.header-text {
font-size: 10px !important; 
}
.firsttext {
  font-size: 25px;
}
.button{
  display: none;
}
}
@media (max-width: 390px) {
.header-text {
font-size: 5vh; 
}
}

@media (max-width: 390px) {
  .firsttext {
  font-size: 1vh; 
  }

  }

@media (min-width: 2000px){
 .container {
  max-width:3860px !important;
  margin:1rem !important;
 }
 
  .card {
    width: 80rem;
    height: 200rem !important;
    background:transparent !important;
   
  }
  .card-text:last-child{
    font-size:50px !important;
  }
  .custom-form {
    width:50rem !important;
    height:100rem;
    border-radius:30px !important;
    -webkit-border-radius:30px !important;
    -moz-border-radius:30px !important;
    -ms-border-radius:30px !important;
    -o-border-radius:30px !important;
    font-size:50px !important;
}
.form-select {
  line-height:4rem !important;
  font-size:40px !important;
  width: 500rem;
 
}
option {
  width:10px !important;
 
}
.form-control {
  line-height:4rem !important;
  border-radius: 1px !important;
  -webkit-border-radius: 1px !important;
  -moz-border-radius: 1px !important;
  -ms-border-radius: 1px !important;
  -o-border-radius: 1px !important;
}
input::placeholder{
  font-size:40px;
}
.custom-btn {
  height:5rem !important;
  width:8rem;
  font-size:30px !important;
}

.text-below.pb-4.pt-5 {
  width:50% !important;
  margin-left:25rem;
}

 .carousel-caption h5 {
  font-size: 100px;

 }
 .container.fluid h1 {
  font-size: 100px;
 }
 .col-md-6.fluid h2{
  font-size: 80px;
 }
 .col-md-6.fluid p {
  font-size: 50px !important;
 }
 .button.green {
font-size:50px !important;
 }
 
 .card-text.customer {
  font-size: 35px !important;
 }
 .card.review {
  width: 35rem !important;
 }
 .card-title.customer {
  font-size:50px;
 }

 .row.review {
  height:150vh !important;
 }

 .bg-dark {
  height: 120rem !important;
  width: 100%;
 }
 .btn-floating {
  font-size:100px !important;
 }
 .row.footer {
  font-size:50px;
 }
 .row.footer h5{
  font-size:50px;
 }
 .row.feet {
  font-size:30px;
 }
 .logo-img {
  width:25vh !important;
 }
 .nav-link {
  font-size:40px !important;
 }
 .dropdown-item {
    font-size:40px !important;
 }
 .col-md-3 img{
  width:30rem !important;
  height:30rem !important;
  border-radius: 30px  !important;
  -webkit-border-radius: 30px  !important;
  -moz-border-radius: 30px  !important;
  -ms-border-radius: 30px  !important;
  -o-border-radius: 30px  !important;
}
 .col-md-9 p{
  font-size: 40px !important;
 }
 .col-md-7 p{
  font-size: 40px !important;
 }
 .col-md-5 img {
  width:50rem !important;
  height:40rem !important;
  border-radius: 30px  !important;
  -webkit-border-radius: 30px  !important;
  -moz-border-radius: 30px  !important;
  -ms-border-radius: 30px  !important;
  -o-border-radius: 30px  !important;
 }
 .col-md-12 p{
  font-size:40px !important;
 }
 .col-md-12 img {
  width: 30rem !important; 
  height: 30rem !important;
 }
 .formcard {
  margin-left:8rem !important;
 }
 .form-select.form {
  margin-left: 23rem !important;
  width:89.7rem !important;
 }
 input[type="text"], textarea {
  width: 47.5rem;
  padding: 10px;
  margin: 0;
  border-radius: 1px;
  border: 1px solid #ccc;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
}
.form.form-control.form.input-field {
  width: 89.7rem !important;
  margin-left:23rem;
  font-size: 40px !important;
}

.form-control.form.input-field {
  line-height: 4rem !important;
  margin-left: 23rem !important;
  width: 47.5rem !important;
}


}


